<!DOCTYPE html>
<html lang="en">
<style>
    table { border-collapse: collapse;}
    td {border: 1px black solid;}
</style>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="container m_box m_tm_20">
        <h2>현재 온도(섭씨) : {{temp}}</h2>
        <table  class="table table-bordered">
            <tr>
                <td>사진</td>
                <td>영화 제목</td>
                <td>평점</td>
                <td>요약</td>
            </tr>
            <tr>
                <td><img src="{{movies['small_cover_image']}}"></td>
                <td>{{movies['title']}}</td>
                <td>{{movies['rating']}}</td>
                <td>{{movies['summary']}}</td>
            </tr>
        </table>
    </div>
</body>
</html>